#nav {
    z-index: 9995;
    top: 37px;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center
}

a:link {
    text-decoration: none;
    color: white;
}


a:visited {
    text-decoration: none;
    color: white;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

#head {
    background-color: #141414;
    border-bottom: 1px solid black;
    box-shadow: var(--elevation-raised);
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
}

#other_button {
    font-family: "Lucida Console";
    font-size: 15px;
    font-weight: bold;
    margin-right: 22px;
    margin-left: 22px;
    white-space: nowrap;
    float: center;
}

#contact_button {
    font-family: "Lucida Console";
    font-size: 20px;
    font-weight: bold;
    margin-right: 22px;
    margin-left: 22px;
    white-space: nowrap;
    float: center;
    text-decoration: underline;
}

#projects_button {
    font-family: "Lucida Console";
    font-size: 20px;
    font-weight: bold;
    margin-right: 22px;
    margin-left: 22px;
    white-space: nowrap;
    text-decoration: underline;
    float: center
}

#courseskills_button {
    font-family: "Lucida Console";
    font-size: 20px;
    font-weight: bold;
    margin-right: 22px;
    margin-left: 22px;
    white-space: nowrap;
    text-decoration: underline;
    float: center
}

#experience_button {
    font-family: "Lucida Console";
    font-size: 20px;
    font-weight: bold;
    margin-right: 22px;
    margin-left: 22px;
    white-space: nowrap;
    text-decoration: underline;
    float: center
}

#home_button {
    font-family: "Lucida Console";
    font-size: 20px;
    font-weight: bold;
    margin-right: 22px;
    margin-left: 22px;
    white-space: nowrap;
    text-decoration: underline;
    float: center
}

#header {
    width: 25%;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
}

#home-name {
    padding-left: calc(25% - 64px);
    width: 50.1042vw;
    font-size: 150px;
    line-height: 3.6458vw;
    letter-spacing: -.02em;
    padding-bottom: 17.7083vw;
    font-family: 'Courier New', monospace;
    margin: auto;
    align-items: center;
    justify-content: center;
    transform: translateY(125px) translateX(-90px);
}

#gl,
#main {
    top: 0;
    left: 0;
    height: 100%
}

#home-text {
    float: center;
    text-align: left;
    font-size: 20px;
    margin: auto;
    justify-content: center;
    width: 25%;
    padding: 10px;
    transform: translateY(-25px);
}
#home-img {
    float: center;
    text-align: center;
    font-size: 20px;
    margin: auto;
    justify-content: center;
    padding: 10px;
    transform: translateY(-100px);
}

label,
input,
textarea {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-left: 5px;
    font-family: "Sailec", sans-serif;
}

#contact-header {
    text-align: center;
    font-family: "Sailec", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    font-weight: bold;
    font-size: 35px;
    transform: translateY(64px);
}

#contact-text {
    transform: translateY(54px);
    text-align: center;
    font-family: "Sailec", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    font-size: 14px;
}

#contact-outer-box {
    justify-content: center;
    align-items: center;
    background-color: #141414;
    border: 1px solid black;
    box-shadow: var(--elevation-raised);
    padding: 20px;
    width: 21%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    transform: translateY(60px);
    border-radius: 30px;
    height: 375px;
    font-family: "Sailec", sans-serif;
}

#contact-fname {
    border-radius: 8px;
    border: 3px solid #555;
    resize: none;
    height: 40px;
    width: 175px;
    text-shadow: none;
    display: inline-block;
    cursor: text;
    text-rendering: auto;
}

#contact-lname {
    border-radius: 8px;
    border: 3px solid #555;
    resize: none;
    width: 175px;
    height: 40px;
    text-shadow: none;
    display: inline-block;
    cursor: text;
    text-rendering: auto;
}

#contact-email {
    border-radius: 8px;
    border: 3px solid #555;
    resize: none;
    width: 387.5px;
    height: 40px;
    text-shadow: none;
    display: inline-block;
    cursor: text;
    text-rendering: auto;
}

#contact-message {
    border-radius: 8px;
    border: 3px solid #555;
    resize: none;
    width: 387.5px;
    height: 80px;
    text-shadow: none;
    display: inline-block;
    cursor: text;
    text-rendering: auto;
}

input[type='text'] {
    font-size: 14px;
}

input[type=text]:focus {
    background-color: lightblue;
}

#contact-submit {
    font-family: 'Ubuntu', sans-serif;
    width: 170px;
    height: 40px;
    line-height: 1;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border: 3px solid white;
    background: #141414;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    overflow: hidden;
    transition: all .35s;
    justify-content: center;
    margin: auto;
  }
  
#contact-submit:hover{
    background: white;
    color: #141414;
  }

#footer {
    margin:auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(125px);
}


#projects-container {
    width: 50%;
    margin: auto;
    transform: translateY(180px);
}

#project1 {
    justify-content: center;
    text-align: center;
    background-color: #141414;
    border: 1px solid black;
    box-shadow: var(--elevation-raised);
    padding: 20px;
    width: 250px;
    font-size: 20px;
    border-radius: 40px;
    height: 375px;
    font-family: "Sailec", sans-serif;
    float:left;
}

#project2 {
    justify-content: center;
    text-align: center;
    background-color: #141414;
    border: 1px solid black;
    box-shadow: var(--elevation-raised);
    padding: 20px;
    width: 250px;
    font-size: 20px;
    border-radius: 40px;
    height: 375px;
    font-family: "Sailec", sans-serif;
    float:left;
    transform: translateX(40px);
}

#project3 {
    justify-content: center;
    text-align: center;
    background-color: #141414;
    border: 1px solid black;
    box-shadow: var(--elevation-raised);
    padding: 20px;
    width: 250px;
    font-size: 20px;
    border-radius: 40px;
    height: 375px;
    font-family: "Sailec", sans-serif;
    float:right;
}

.skillsdividor {
    border-left: 2px solid white;
    height: 375px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
    transform: translateY(200px);
}

#skills-page {
    width: 50%;
    margin: auto;
    justify-content: center;
    text-align: left;
    transform: translateX(-100px);
}

#coursework {
    float:right;
    transform: scale(1.5) translateY(156.5px) translateX(15px);
}

#skills {
    float: left;
    transform: scale(1.5) translateY(175px) translateX(125px);
}

